In [29]:
%matplotlib inline

In [30]:
import torch
from torch.utils.data import Dataset
from torchvision import datasets
from torchvision.transforms import ToTensor, Lambda
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [31]:
from __future__ import print_function
import torch
x = torch.rand(5, 3)
print(x)

tensor([[0.8141, 0.5159, 0.8249],
        [0.8917, 0.6364, 0.8929],
        [0.3388, 0.1563, 0.2086],
        [0.6928, 0.8668, 0.2564],
        [0.8084, 0.5254, 0.8766]])

In [32]:
import torch
print(torch.cuda.is_available())

False

#### データの読み取り
データをpandasで読み取る

In [33]:
df = pd.read_csv("output_m=4.txt", sep = ' ')
df.head()

,label,c_0,c_1,c_2,c_3,c_4,c_5,c_6,c_7,c_8,c_9,c_10,c_11,c_12,c_13,c_14
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

#### データセットの作成

In [34]:
class MyDataset(torch.utils.data.Dataset):
    def __init__(self, csv_path):
        df = pd.read_csv(csv_path,sep = ' ')
        data = df.iloc[:, 1:]
        labels = df.iloc[:, 0]
        self.data = data
        self.labels = labels
        

    def __len__(self):
        return len(self.data)
  
    def __getitem__(self, idx):
        return self.data[idx], self.labels[idx]

In [36]:
from torch.utils.data import DataLoader
dataset = MyDataset("output_m=4.txt")
dataloader = DataLoader(dataset, batch_size=64,shuffle = True)
dataset.data

,c_0,c_1,c_2,c_3,c_4,c_5,c_6,c_7,c_8,c_9,c_10,c_11,c_12,c_13,c_14
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32763,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1
32764,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1
32765,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1
32766,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1
32767,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1